<% page_info :title => "Your Projects", :id => "home" %>

<% if @projects.any? %>
  <ul class="projects">
    <% @projects.each do |project| %>
      <li>
        <h3><a href="/project/<%= project.id %>"><em><%=h project.token.account %> / </em><%=h project.name %></a></h3>
        <p><%= project.milestones.count %> active burndown<%= 's' unless project.milestones.count == 1 %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No projects! Go <a href="/setup">set some up</a></p>
<% end %>