<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= @title %> &ndash; Burndown</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css" charset="utf-8" />
    <!--[if IE 6]>
      <link href="/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
      <link href="/css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script src="/js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/lib/raphael.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/modules/jquery.raphael.timeline.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/modules/jquery.warpspire.tabs.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/modules/burndown.token_form.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body id="<%= @page_id %>">
    <div id="superheader">
      <ul id="nav">
        <li class="home"><a href="/">My Projects</a></li>
        <li class="setup"><a href="/setup">Setup</a></li>
      </ul>
      <p class="welcome">
        <strong class="miniapp">Burndown</strong>
        is a Lighthouse miniapp
      </p>
    </div><!-- /#superheader -->
    <div id="titlebar">
      <div class="inner">
        <% if @breadcrumb %>
          <p><%= @breadcrumb.join(" / ") %></p>
        <% end %>
        <h1><%= @title %></h1>
      </div>
    </div><!-- /#titlebar -->
    <div id="content">
      <%= yield %>
    </div><!-- /#content -->
    <div id="footer">
      <p><strong>Burndown</strong> was created by <a href="http://kyleneath.com">Kyle Neath</a>.  Made with love for <a href="http://lighthouseapp.com">Lighthouse</a>.</p>
    </div>
    <script src="http://tenderapp.dev/tender_widget.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>