<% page_info :title => "Pick a Milestone",
              :breadcrumb => [ link_to(h(@project.name), "/") ] %>

<ul class="projects">
  <li>
    <h3><%=h @project.name %></h3>
    <p><%= @project.milestones.size %> active burndown<%= 's' unless @project.milestones.size == 1 %></p>
    <% if @project.milestones.any? %>
      <ul class="milestones">
        <% @project.milestones.each do |milestone| %>
        <li>
          <h4><a href="/timeline"><%=h milestone.name %></a></h4>
          <p>Tracking for <%= distance_of_time_in_words(milestone.activated_at, Time.now.utc) %></p>
        </li>
        <% end %>
      </ul>
    <% else %>
      <p>You don't have any milestones setup, so you can't use burndown charts!</p>
    <% end %>
  </li>
</ul>