<% page_info :title => "Setup Burndown" %>

<p>Burndown works with <a href="#">Lighthouse</a> to help you visualize your ticket closure rate and provide a burndown chart.</p>


<div class="tab-group setup">
  <ul class="tabs">
    <% @tokens.each do |token| %>
      <li>
        <a href="#token_<%= token.token %>"><%=h token.note %></a>
        <span class="token"><%= token.token %></span>
      </li>
    <% end %>
  </ul>

  <% @tokens.each do |token| %>
    <div id="token_<%= token.token %>" class="tab-content">
      <div class="title">
        <span class="accesslevel">Read+Write</span>
        <h2>Token: <em><%= token.note %></em></h2>
        <p><%= token.token %></p>
      </div>
          
      <div class="project active">
        <span class="state">Active &ndash; <a href="#">Deactivate</a></span>
        <h3><em>entp /</em> Tender</h3>
        <p>Tracking progress since 5/5/09</p>
      </div>
      
      <div class="project inactive">
        <span class="state">Inactive &ndash; <a href="#">Activate</a></span>
        <h3><em>entp /</em> Lighthouse</h3>
      </div>
    </div><!-- /.tab-content -->
  <% end %>
</div><!-- /.tab-group -->