<% page_info :title => "Timeline &amp; Graph",
              :breadcrumb => [ link_to(h(@milestone.project.name), "/"), link_to(h(@milestone.name), "/project/#{@milestone.project.id}") ] %>

<a href="<%= @milestone.external_url %>" class="lh-link">View in Lighthouse &rarr;</a>

<% if @milestone.tickets_count > 0 %>
<div class="progress">
  <ul class="stats">
    <li><strong><%= @milestone.percent_complete %>%</strong> <span>percent complete</span></li>
    <li><strong><%= @milestone.open_tickets_count %></strong> <span>open tickets</span></li>
    <li><strong><%= @milestone.due_on ? @milestone.due_on.strftime("%m/%d") : "Not Due" %></strong> <span>due date</span></li>
  </ul>
  <div class="progress-bar">
    <span class="bar" style="width:<%= @milestone.percent_complete %>%"></span>
  </div>
</div>
<% end %>
<%
  @estimated_rate = {}
  @last_value = nil
  def day_event_value(events, day)
    day_event = events.select{ |e| e.created_on.strftime("%B %e") == day.strftime("%B %e") }[0]
    value = day_event ? day_event.num_tickets_open : 0
    # Are we past today? Should we project a trajectory?
    if in_future?(day)
      if @estimated_rate[events.object_id]
        rate = @estimated_rate[events.object_id]
      else
        events = events.to_a
        last_events = events.size > 7 ? events.slice(-7, 7) : events.slice(-1*events.size, events.size - 1)
        avg = last_events.inject{|sum, e| (sum.is_a?(Fixnum) ? sum : 0) + e.ticket_change }.to_f/([last_events.size, 7].min)
        rate = avg*-1
        @estimated_rate[events.object_id] = rate
      end
      value = @last_value.nil? ? 0 : @last_value - rate
    end
    @last_value = value
    value.to_i
  end
%>
<div class="graph">
  <table class="timeline">
    <tfoot>
      <tr>
        <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
          <th><%= day.strftime("%m/%d") %></th>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
          <td class="<%= 'future' if in_future?(day) %>"><%= day_event_value(@timeline_events, day) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <div id="holder"></div>
</div>

<ol class="timeline">
  <% @timeline_events.each do |event| %>
  <li>
    <h3><%= event.created_on.strftime("%B %e") %></h3>
    <span class="big"><%= "+" if event.ticket_change > 0 %><%= event.ticket_change %></span>
    <ul class="events">
      <% if event.tickets_opened > 0 %>
        <li><strong>Opened</strong> <em class="positive"><%= event.tickets_opened %></em> ticket<%= 's' unless event.tickets_opened == 1 %></li>
      <% end %>
      <% if event.tickets_closed > 0 %>
        <li><strong>Closed</strong> <em class="negative"><%= event.tickets_closed %></em> ticket<%= 's' unless event.tickets_closed == 1 %></li>
      <% end %>
      <% if event.tickets_opened == 0 && event.tickets_closed == 0 %>
        <li><strong>No changes</strong></li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <li>
    <h3><%= @milestone.start_date.strftime("%B %e") %></h3>
    <ul class="events">
      <li><strong>Started</strong> tracking milestone</li>
    </ul>
  </li>
</ol>