<% page_info :title => "Timeline &amp; Graph",
              :breadcrumb => [ link_to(h(@milestone.project.name), "/"), link_to(h(@milestone.name), "/project/#{@milestone.project.id}") ] %>

<div class="graph">
  <table class="timeline">
    <tfoot>
      <tr>
        <% segmented_range(@milestone.start_date, @milestone.end_date, :segments => 15) do |day| %>
          <th><%= day.strftime("%m/%d") %></th>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <% value = 15*3 %>
        <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
          <td><%= value = value - rand(5) %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <div id="holder"></div>
</div>

<ol class="timeline">
  <% @milestone.milestone_events.each do |event| %>
  <li>
    <h3><%= event.created_at.strftime("%B %e") %></h3>
    <span class="big"><%= "+" if event.ticket_change > 0 %><%= event.ticket_change %></span>
    <ul class="events">
      <li><strong><%= event.ticket_change > 0 ? "Opened" : "Closed" %></strong> <em class="<%= event.ticket_change > 0 ? "positive" : "negative" %>"><%= event.ticket_change %></em> tickets</li>
    </ul>
  </li>
  <% end %>
  <li>
    <h3><%= @milestone.start_date.strftime("%B %e") %></h3>
    <ul class="events">
      <li><strong>Started</strong> tracking milestone</li>
    </ul>
  </li>
</ol>