<% page_info :title => "Timeline &amp; Graph",
              :breadcrumb => [ link_to(h(@milestone.project.name), "/"), link_to(h(@milestone.name), "/project/#{@milestone.project.id}") ] %>

<div class="graph">
  <table class="timeline">
    <tfoot>
      <tr>
        <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
          <th><%= day.strftime("%m/%d") %></th>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <% @milestone.start_date.upto(@milestone.end_date) do |day| %>
          <td class="<%= 'future' if Date.parse(day.to_s) > Date.today %>"><%= (day_event = @timeline_events.select{ |e| e.created_on.strftime("%B %e") == day.strftime("%B %e") }[0]) ? day_event.num_tickets_open : 0 %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <div id="holder"></div>
</div>

<ol class="timeline">
  <% @timeline_events.each do |event| %>
  <li>
    <h3><%= event.created_on.strftime("%B %e") %></h3>
    <span class="big"><%= "+" if event.ticket_change > 0 %><%= event.ticket_change %></span>
    <ul class="events">
      <% if event.tickets_opened > 0 %>
        <li><strong>Opened</strong> <em class="positive"><%= event.tickets_opened %></em> ticket<%= 's' unless event.tickets_opened == 1 %></li>
      <% end %>
      <% if event.tickets_closed > 0 %>
        <li><strong>Closed</strong> <em class="negative"><%= event.tickets_closed %></em> ticket<%= 's' unless event.tickets_closed == 1 %></li>
      <% end %>
      <% if event.tickets_opened == 0 && event.tickets_closed == 0 %>
        <li><strong>No changes</strong></li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <li>
    <h3><%= @milestone.start_date.strftime("%B %e") %></h3>
    <ul class="events">
      <li><strong>Started</strong> tracking milestone</li>
    </ul>
  </li>
</ol>